<template>
  <div class="container mt-4">
    <div class="alert alert-success" v-if="register">
      <strong>Success!</strong> Successfull registration, please login.
    </div>

    <form class="form-signin" @submit.prevent="loginMethod">
      <h2 class="form-signin-heading">Please login</h2>

      <div class="form-group">
        <label for="email">Email address</label>
        <input
          v-model="email"
          type="text"
          class="form-control"
          name="email"
          placeholder="Email Address"
          aria-describedby="emailHelp"
          required
          autofocus
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          v-model="password"
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          required
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never save your password withouth encryption.</small
        >
      </div>
      <button class="btn btn-lg btn-primary" type="submit">
        Login
      </button>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      email: "",
      password: "",
      register: false
    };
  },

  methods: {
    ...mapActions({
      login: "login"
    }),

    loginMethod() {
      return this.login({
        email: this.email,
        password: this.password
      }).then(() => {
        this.$router.push("tasks");
      });
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (from.path === "/register") {
        vm.register = true;
      }
    });
  }
};
</script>

<style>
button {
  width: 20%;
  position: relative;
  left: 40%;
}
</style>
