<template>
  <div class="container mt-4">
    <form class="form-signin" @submit.prevent="registerFunction">
      <h2 class="form-signin-heading">Registration</h2>
      <div class="form-group">
        <label for="name">Full name</label>
        <input
          v-model="newUser.name"
          type="text"
          class="form-control"
          name="name"
          placeholder="Full name"
          aria-describedby="nameHelp"
          required
          autofocus
        />
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input
          v-model="newUser.email"
          type="text"
          class="form-control"
          name="email"
          placeholder="Email Address"
          aria-describedby="emailHelp"
          required
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          v-model="newUser.password"
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          required
        />
        <small class="form-text text-muted"
          >We'll never save your password withouth encryption.</small
        >
      </div>
      <button class="btn btn-lg btn-primary" type="submit">
        Register
      </button>
    </form>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      newUser: {}
    };
  },

  methods: {
    ...mapActions({
      register: "register"
    }),
    registerFunction() {
      return this.register(this.newUser).then(() => {
        this.$router.push("login");
      });
    }
  }
};
</script>

<style>
button {
  width: 20%;
  position: relative;
  left: 40%;
}
</style>
