<template>
  <div class="container">
    <div>
      <div class="col-md-8">
        <h2>
          Task <b>{{ task.title }}</b>
        </h2>
        <p>
          made by <b>{{ user.name }}</b>
        </p>
        <br />
        <section class="comment-list">
          <!-- TASKS -->
          <article class="row" v-if="user.id === task.user_id">
            <div class="col-md-12 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="col-md-2 " style="padding: 30px">
                  <figure class="thumbnail">
                    <img
                      class="img-responsive"
                      src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png"
                    />
                    <figcaption class="text-center">
                      <b>{{ user.name }}</b>
                    </figcaption>
                  </figure>
                </div>
                <div
                  class="panel-body"
                  style=" border-color: grey; border-style: groove; padding: 20px 20px 20px 20px;"
                >
                  <form class="form-signin" @submit.prevent="editTask(task.id)">
                    <div>
                      <h2 class="form-signin-heading">{{ task.title }}</h2>

                      <div class="form-group">
                        <br />
                        <br />
                        <br />
                        <br />
                        <label for="title">Title</label>

                        <input
                          v-model="task.title"
                          type="string"
                          class="form-control"
                          name="title"
                          placeholder="Title"
                          required
                        />
                        <small class="form-text text-muted">Task title</small>
                      </div>
                      <div class="form-group">
                        <label for="description">Description</label>
                        <input
                          v-model="task.desription"
                          type="text"
                          class="form-control"
                          name="title"
                          required
                        />
                        <small class="form-text text-muted"
                          >Description of the task</small
                        >
                      </div>
                      <button class="button btn-lg btn-primary" type="submit">
                        Edit Task
                      </button>
                    </div>
                  </form>
                </div>
                <hr />
                <div
                  class="panel-body"
                  style=" border-color: grey; border-style: groove; padding: 20px 20px 20px 20px;"
                >
                  <form class="form-signin" @submit.prevent="addNote(task.id)">
                    <div>
                      <h2 class="form-signin-heading">New note</h2>

                      <div class="form-group">
                        <label for="title">Text</label>

                        <input
                          v-model="newNote.text"
                          type="string"
                          class="form-control"
                          name="title"
                          placeholder="Text"
                          required
                        />
                        <small class="form-text text-muted">Note text</small>
                      </div>

                      <button class="button btn-lg btn-primary" type="submit">
                        Reply
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </article>
          <!-- NOTES -->
          <article
            class="row"
            v-for="(note, index) in notes.slice().reverse()"
            :key="index"
          >
            <div class="col-md-12 col-sm-10" v-if="task.id === note.task_id">
              <div class="panel panel-default arrow right">
                <div class="panel-body">
                  <header class="text-right">
                    <div class="comment-user">
                      <p>{{ note.text }}</p>
                    </div>
                    <time class="comment-date" datetime="16-12-2014 01:05"
                      ><i class="fa fa-clock-o"></i> {{ note.created_at }}</time
                    >

                    <button class="button" @click="singleNote(note.id)">
                      Edit note
                    </button>
                  </header>
                </div>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { taskService } from "../services/Task.sevice";
export default {
  data() {
    return {
      newNote: {}
    };
  },
  computed: {
    ...mapGetters({
      user: "getUser",
      tasks: "getTasks",
      notes: "getNotes",
      task: "getTask"
    })
  },
  mounted() {
    this.getTasks();
  },
  methods: {
    getTasks() {
      taskService.getNotes();
    },
    addNote(taskId) {
      return taskService
        .addNote(this.newNote.text, taskId)
        .then(() => {
          this.newNote = {
            text: ""
          };
          taskService.getTask(this.task.id);
          taskService.getNotes();
        })
        .catch(e => {
          alert(e);
        });
    },
    editTask(id) {
      return taskService
        .editTask(id, this.task)
        .then(() => {
          taskService.getTask(id);
          this.$router.push("/tasks");
        })
        .catch(e => {
          alert(e);
        });
    },

    singleNote(id) {
      return this.$router.push("/notes/" + id);
    }
  },

  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.routeName = to.name;
      taskService
        .getTask(vm.$route.params.id)
        .then(() => {
          taskService.getNotes();
        })
        .catch(e => {
          alert(e);
        });
    });
  }
};
</script>
<style scoped>
button {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  align-items: center;
  justify-content: center;
}
</style>
