<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="page-header">
          Note from {{ task.title }} made by {{ user.name }}
        </h2>

        <section class="comment-list">
          <!-- TASKS -->
          <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img
                  class="img-responsive"
                  src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png"
                />
                <figcaption class="text-center">{{ user.name }}</figcaption>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <form class="form-signin" @submit.prevent="editNote(note.id)">
                    <h2 class="form-signin-heading">Edit note</h2>

                    <div class="form-group">
                      <label for="email">Note</label>
                      <input
                        v-model="note.text"
                        type="string"
                        class="form-control"
                        name="title"
                        required
                      />
                      <small id="emailHelp" class="form-text text-muted"
                        >Note text.</small
                      >
                    </div>
                    <button class="btn btn-lg btn-primary " type="submit">
                      Edit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { taskService } from "../services/Task.sevice";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      user: "getUser",
      tasks: "getTasks",
      notes: "getNotes",
      task: "getTask",
      note: "getNote"
    })
  },
  methods: {
    editNote(id) {
      return taskService
        .editNote(id, this.note)
        .then(() => {
          this.$router.push("/tasks/" + this.note.task_id);
        })
        .catch(e => {
          alert(e);
        });
    }
  },

  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.routeName = to.name;
      taskService.getNote(vm.$route.params.id);
    });
  }
};
</script>
<style scoped>
/*Comment List styles*/
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border: none;
  /*Panel-heading border radius*/
  border-top-right-radius: 0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius: 0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after,
  .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after,
  .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #ffffff;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #ffffff;
    border-width: 15px;
  }
}
.comment-list .comment-post {
  margin-top: 6px;
}
</style>
