<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="page-header">Tasks of {{ user.name }}</h2>
        <form class="form-signin" @submit.prevent="addTask">
          <div class="form-group">
            <label for="email">Title</label>

            <input
              v-model="newTask.title"
              type="string"
              class="form-control"
              name="title"
              placeholder="Title"
              required
            />
            <small id="emailHelp" class="form-text text-muted"
              >Task title</small
            >
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input
              v-model="newTask.description"
              type="text"
              class="form-control"
              name="title"
              placeholder="Description"
              required
            />
            <small class="form-text text-muted">Description of the task</small>
          </div>
          <button class="btn btn-lg btn-primary" type="submit">
            New Task
          </button>
        </form>

        <section
          class="comment-list"
          v-for="(task, index) in tasks"
          :key="index"
        >
          <!-- TASKS -->
          <br />
          <article class="row" v-if="user.id === task.user_id">
            <div class="card-body" style="border-style: ridge;">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img
                      src="https://image.ibb.co/jw55Ex/def_face.jpg"
                      class="img img-rounded img-fluid"
                    />
                    <p class="text-secondary text-center">
                      {{ task.created_at }}
                    </p>
                  </div>
                  <div class="col-md-10">
                    <p>
                      <strong>{{ user.name }}</strong>
                    </p>
                    <div class="clearfix"></div>
                    <p>
                      <b> {{ task.title }}</b>
                    </p>
                    <p>
                      {{ task.desription }}
                    </p>
                    <p>
                      <a
                        @click="singleTask(task.id)"
                        class="float-right btn btn-outline-primary ml-2"
                        style="border-style: ridge; background: green"
                      >
                        <i class="fa fa-reply"></i>
                        <b style="color:white">Edit</b>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { taskService } from "../services/Task.sevice";
export default {
  data() {
    return {
      newTask: {}
    };
  },
  computed: {
    ...mapGetters({
      user: "getUser",
      tasks: "getTasks"
    })
  },
  mounted() {
    this.getTasks();
  },
  methods: {
    getTasks() {
      taskService.getTasks();
    },
    addTask() {
      return taskService
        .addTasks(this.newTask.title, this.newTask.description, this.user.id)
        .then(() => {
          this.newTask = {
            title: "",
            description: ""
          };
        })
        .catch(e => {
          alert(e);
        });
    },

    singleTask(id) {
      return this.$router.push("tasks/" + id);
    }
  }
};
</script>
<style scoped>
/*Comment List styles*/
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border: none;
  /*Panel-heading border radius*/
  border-top-right-radius: 0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius: 0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after,
  .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after,
  .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #ffffff;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #ffffff;
    border-width: 15px;
  }
}
.comment-list .comment-post {
  margin-top: 6px;
}
</style>
