<template>
  <div id="app">
    <nav class="navbar navbar-inverse navbar-expand-lg">
      <div class="container topnav">
        <div class="navbar-header mr-auto">
          <a class="navbar-header ">
            <router-link class="navbar-brand" v-if="user" to="/tasks"
              >Tasks
            </router-link>
          </a>
        </div>

        <ul class="nav navbar-nav">
          <li>
            <router-link v-if="!user" to="/login">Login</router-link>
          </li>
          <li>
            <router-link v-if="!user" to="/register">Register</router-link>
          </li>
        </ul>
        <div class="topnav-right">
          <button v-if="user" @click="logout" class="btn danger" type="submit">
            Logout
          </button>
        </div>
      </div>
    </nav>
    <router-view />
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import { authService } from "./services/AuthService";

export default {
  name: "app",

  methods: {
    ...mapMutations({
      setUser: "setUser"
    }),

    logout() {
      authService.logout();
      this.setUser(null);
      localStorage.removeItem("user");
      this.$router.push("/login");
    }
  },

  computed: {
    ...mapGetters({
      user: "getUser"
    })
  }
};
</script>

<style>
.topnav {
  float: left;
  padding-right: 30px;
  overflow: hidden;
}

.nav {
  width: auto;
}
.nav li {
  display: inline-block;
  padding: 0 10px;
}

.danger {
  width: 100%;
  border-color: #f44336;
  color: red;
}

.danger:hover {
  background: #f44336;
  color: white;
}

.topnav-right {
  float: right;
}
</style>
